.advanced-react-section {
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  margin-bottom: 50px;
  background-color: wheat;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100vw;
}

button:active {
  background: linear-gradient(
    to bottom,
    #78787877,
    #78787877 65%,
    #89898933 100%
  ) !important;
}
h1 {
  text-align: center;
  font-size: 2.5rem;
  border-bottom: 1px solid red;
}
div {
  text-align: center;
}
